################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/My-projects/v17/.suo
/.vs
/To Do List/.vs/To Do List
/Shop/.vs/Shop/v17
/Shop/Shop/x64/Debug
/Shop/x64/Debug
